<h2><%= @band.name %> Information</h2>

<ul class="album-links">
    
    <li> album.title with a link to the corresponding album_url from each album goes here! </li>
   
</ul>

A link to create new albums will go here!